package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.Map;
import java.util.List;
import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import ${package}.${moduleName}.utils.Page;

@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {

    @Autowired
    private ${className}Dao ${classname}Dao;

    /**
     * 新增
     *
     * @param ${classname}Entity
     * @return
     */
    public Boolean insert(${className}Entity ${classname}Entity){
        return ${classname}Dao.insert(${classname}Entity) != 0;
    }

    /**
     * 删除
     *
     * @param ${pk.attrname}
     * @return
     */
    public Boolean delete(String ${pk.attrname}){
        return ${classname}Dao.delete(${pk.attrname}) != 0;
    }

    /**
     * 修改
     *
     * @param ${classname}Entity
     * @return
     */
    public Boolean update(${className}Entity ${classname}Entity){
        return ${classname}Dao.update(${classname}Entity) != 0;
    }

    /**
     * 分页查询
     *
     * @param ${classname}EntityPage
     * @return
     */
    public Page<${className}Entity> selectPageList(Page<${className}Entity> ${classname}EntityPage){
        ${classname}EntityPage.setRows(${classname}Dao.selectPageList(${classname}EntityPage.getParameter()));
        ${classname}EntityPage.setTotal(${classname}Dao.count(${classname}EntityPage.getParameter()));
        return ${classname}EntityPage;
    }

    /**
    * 查询全部
    *
    * @param map
    * @return
    */
    public List<${className}Entity> selectAll(Map<String,Object> map){
        return ${classname}Dao.selectAll(map);
    }

    /**
     * 详情
     *
     * @param ${pk.attrname}
     * @return
     */
    public ${className}Entity info(String ${pk.attrname}){
        return ${classname}Dao.info(${pk.attrname});
    }
}
